/*Manual*/

#erroLogin {
  margin-top: 20px;
}

.formulario {
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
}

#avisoArquivo {
  font-size: 14px;
  color: #a9a9a9;
  margin-top: 40px;
}

#imgProduto {
  width: 70px;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
}

#details {
  padding: 20px 10px !important;
}
